html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
// marge entre le conteneur et la barre de navigation
.container {
  margin-top: 5%;
}
.characters-max {
  text-align: end;
  font-size: smaller;
}

// formulaires
form {
  // titre des inputs
  div > label {
    font-size: medium !important;
    margin-bottom: 0.5rem !important;
  }
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}
// icons
i {
  cursor: pointer;
}

// Flèche vers la gauche pour retourner sur la page précédente
.return {
  width: 100%;
  padding: 1rem;
}

// barre de navigation
#navbar {
  #logout {
    position: absolute;
    right: 0;
  }
  .active {
    i {
      color: blue;
    }
    p {
      color: blue;
    }
  }
  p {
    margin-left: 10px;
  }
  // informations concernant l'employé en dessous de la barre de navigation
  #employee {
    width: 100%;
    text-align: right;
    padding-right: 1rem;
  }
}

/*
* PAGE DE CONNEXION => Login.page.jsx
*/
#login-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 33.33%;
  height: fit-content;
  // champs de saisie de texte
  .title {
    margin-bottom: 50px;
    text-align: center;
  }
  .field {
    max-width: 80%;
  }
  // bouton se connecter
  button {
    margin-top: 5%;
  }
}

/*
* PAGES DU CHOIX DES TYPES DE TABLES A MODIFIER DANS LA BDD => ManageDatabase/Type.page.jsx
*/
#type-page,
#order-history-page {
  // cellules du tableau
  .rdt_TableCell {
    padding: 0.5rem;
  }
  // titres des colonnes du tableau
  .rdt_TableCol {
    font-size: larger;
    font-weight: bold;
  }
  // boutons pour voir/supprimer les champs des différents tableaux dans /components/ManageDatabase/Types

  .btn-edit,
  .btn-show {
    margin-right: 10%;
  }
}

/*
* PAGES DE GESTION DE LA BASE DE DONNEES => ManageDatabase/ManageDatabase.page.jsx
*/
#manage-database-page {
  // Page d'accueil de l'onglet db pour choisir quoi afficher
  #cards-menu {
    margin-top: 10%;
    .card {
      .header {
        padding: 1rem;
      }
    }
  }
}
/*
* PAGES D'ACCUEIL APRES LA CONNEXION CONTENANT L'AFFICHAGE DES COMMANDES => Orders/Order.page.jsx
*/
#order-page {
  .segment {
    max-height: 78vh;
    overflow: auto;
    .products {
      padding: 1rem 0;
      i {
        cursor: default;
      }
    }
    .prices {
      padding: 1rem 0;
    }
  }
  // historique des commandes sur la droite dans la page d'accueil des commandes
  #order-prepared {
    .order-prepared-items {
      display: flex;
      align-items: center;
      button {
        line-height: 1.25rem;
      }
      .header {
        color: #1e3799;
        margin-bottom: 2.5%;
      }
      .content {
        width: 100%;
        .date {
          font-size: smaller;
          color: #bdc3c7;
        }
      }
    }
  }
}

/*
* PAGES DE CHAQUES COMMANDES QUAND ON CLIQUE DESSUS => Order/OrderId.page.jsx
*/
#order-id {
  // Prix total sur la page spécifique d'une commande
  .total_price {
    width: 100%;
    text-align: end;
    padding: 1rem 0;
  }
}

/*
* PAGES D'EDITION DES TABLES EN BDD => ManageDatabase/Edit.page.jsx
*/
#edit-page {
  // marge en dessous du titre des pages d'ajout et modification
  .header {
    margin-bottom: 5%;
  }
  // marge pour créer de l'espace entre le lien et les boutons
  #edit-password {
    margin-top: 2.5%;
    margin-bottom: 5%;
  }
}

/*
* PAGES D'AJOUT DE NOUVEAUX CHAMPS EN BDD => ManageDatabase/New.page.jsx
*/
#new-page {
  // marge en dessous du titre des pages d'ajout et modification
  .header {
    margin-bottom: 5%;
  }
}

/*
* PAGE DE L'HISTORIQUE DES COMMANDES
*/
#order-history-page {
  .container {
    padding: 1rem;
  }
}
